.main-wrapper {
  display: block;
  height: 100%;
  background: #23252b;
  padding-top: 14px;
  padding-bottom: 20px;
  /* useful during reloading */
  min-height: 1300px;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  /* IE 11 fix */
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 17px;
  padding-bottom: 20px;
  background: inherit;
}

.loading {
  margin-top: 25px;
  text-align: center;
  font-size: 30px;
  color: #646b7f;
}

.main-error {
  padding-top: 25px;
  text-align: center;
  font-size: 30px;
  color: #646b80;
  background: #23252b;
  height: 1300px;
}