.main-wrapper {
  height: 100%;
  background: #23252b;
  color: white;
  padding-top: 30px;
  min-height: 1000px;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.loading {
  text-align: center;
  font-size: 30px;
  color: #646b7f;
}

a {
  color: #f4f4f4;
  text-decoration: none; /* no underline */
}
