.header {
  height: 90px;
  width: 100%;
  background: #1e2028;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 624px) {
  .header {
    height: 130px;
  }
}
@media screen and (max-width: 500px) {
  .header {
    flex-wrap: wrap;
    height: 140px;
  }
}

.header-text {
  font-size: 36px;
  color: #f4f4f4;
  opacity: 0.95;
  display: block;
  padding-top: 25px;
}

.header-text:hover {
  opacity: 1;
}

.header-logo {
  margin-top: 16px;
  animation: App-logo-spin infinite 10s linear;
  height: 50px;
  pointer-events: none;
}

.header-logo-wrapper {
  display: flex;
}
@media screen and (max-width: 500px) {
  .header-logo-wrapper {
    margin-left: 10%;
  }
}

.search-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  width: 300px;
  margin-right: 50px;
}

.search-form {
  position: relative;
  margin-top: 14px;
}
@media screen and (max-width: 624px) {
  .search-form {
    margin-top: 30px;
  }
}
@media screen and (max-width: 500px) {
  .search-form {
    margin-top: 0px;
    margin-left: 20%;
  }
}

.search-input {
  width: 100%;
  outline: none;
  transition: all 0.2s ease 0s;
  padding: 0 10px;
  height: 37px;
  border: 1px solid #424754;
  background: 0 0;
  color: #8e95a5;
  line-height: 32px;
  border-radius: 3px;
  cursor: text;
  font-size: 18px;
  text-align: start;
}

.search-button {
  position: absolute;
  top: 4px;
  right: -17px;
  display: block;
  width: 32px;
  height: 32px;
  border: none;
  background: 0 0;
  color: #646b7f;
  font-size: 1.2rem;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
