.header {
  height: 90px;
  width: 100%;
  background: #1e2028;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1183px) {
  .header {
    height: 140px;
  }
}

@media screen and (max-width: 865px) {
  .header {
    height: 190px;
  }
}


.header-logo-wrapper {
  display: flex;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  font: inherit;
  outline: none;
  cursor: pointer;
  height: 50px;
  margin-top: 16px;
  width: 25%;
}

@media screen and (max-width: 1183px) {
  .header-logo-wrapper {
    margin: 0 auto;
    margin-top: 13px;
    width: 300px;
  }
}

.header-text {
  font-size: 36px;
  color: #f4f4f4;
  opacity: 0.93;
  margin-top: 6px;
}

.header-text:hover {
  opacity: 1;
}

.header-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 50px;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
