/* overriding component (React-Select) css styles, React-Select library 
wasn't optimized for using plain css so I make this workaround  */

.react-select-container {
  height: 39px !important;
  font-size: 17px !important;
}

.react-select__menu {
  cursor: pointer !important;
  color: #f4f4f4 !important;
  opacity: 0.95 !important;
  border: 1px solid #1e2028 !important;
  background-color: #23252b !important;
  transition: 0.3s !important;
}

.react-select__control {
  height: 39px !important;
  background-color: #1e2028 !important;
  border: 1px solid #424754 !important;
  cursor: pointer !important;
  outline: none !important;
  box-shadow: none !important;
  min-width: 200px;
  display: flex !important;
}

.react-select__input {
  color: #f4f4f4 !important;
  opacity: 0.7 !important;
}

.react-select__placeholder{
  color: #8e95a5 !important;
  opacity: 0.8 !important;
}

.react-select__option:hover {
  background-color: #424754 !important;
  cursor: pointer !important;
}

.react-select__option {
  background-color: #23252b !important;
}

.react-select__option--is-selected {
  background-color: #424754 !important;
}

.react-select__single-value {
  color: #8e95a5 !important;
  font-size: 17px;
}

.css-19bqh2r {
  fill: #8e95a5 !important;
  opacity: 0.8 !important;
}
.css-19bqh2r:hover {
  fill: #9ca3b3 !important;
  opacity: 1 !important;
}

.react-select__indicator-separator {
  background-color: #8e95a5 !important;
}

/* scroll */
.react-select__menu-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #2d3038;
}

.react-select__menu-list::-webkit-scrollbar {
  width: 8px;
  background-color: #23252b;
}

.react-select__menu-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1e2028;
}

.filters-container {
  display: flex;
  width: 75%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 25px;
  min-width: 875px;
  justify-content: flex-end;
}

@media screen and (max-width: 1182px) {
  .filters-container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 864px) {
  .filters-container {
    min-width: 0;
    margin-top: 10px;
    height: 100px;
    justify-content: normal;
  }
}

@media screen and (max-width: 675px) {
  .filters-container {
    width: 95%;
  }
}

.filter-buttons-container {
  max-width: 65%;
  display: flex;
  margin-right: 25px;
}

@media screen and (max-width: 1182px) {
  .filter-buttons-container {
    margin-left: 5%;
  }
}
@media screen and (max-width: 870px) {
  .filter-buttons-container {
    width: 405px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 675px) {
  .filter-buttons-container {
    margin: 0 0;
  }
}

@media screen and (max-width: 570px) {
  .filter-buttons-container {
    max-width: none;
  }
}

.search-wrapper {
  position: relative;
  display: inline-block;
  width: 29%;
  margin-right: 50px;
}

@media screen and (max-width: 864px) {
  .search-wrapper {
    height: 39px;
    margin-bottom: 28px;
  }
}
@media screen and (max-width: 435px) {
  .search-wrapper {
    width: 80%;
  }
}

.search-form {
  position: relative;
}

.search-input {
  outline: none;
  transition: all 0.2s ease 0s;
  padding: 0 10px;
  height: 37px;
  border: 1px solid #424754;
  background: 0 0;
  color: #8e95a5;
  line-height: 32px;
  border-radius: 3px;
  cursor: text;
  font-size: 17px;
  text-align: start;
  min-width: 225px;
  width: 100%;
}

@media screen and (max-width: 864px) {
  .search-input {
    width: 383px;
    margin-top: 15px;
    margin-left: 61%;
  }
}

@media screen and (max-width: 675px) {
  .search-input {
    margin-left: 0px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 435px) {
  .search-input {
    width: 100%;
  }
}

.search-input::placeholder {
  color: #8e95a5;
  opacity: 0.8 !important;
}

.search-button {
  position: absolute;
  top: 4px;
  right: -17px;
  display: block;
  width: 32px;
  height: 32px;
  border: none;
  background: 0 0;
  color: #646b7f;
  font-size: 1.2rem;
  padding: 0;
}

@media screen and (max-width: 864px) {
  .search-button {
    display: none;
  }
}

.filter-buttons {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  outline: none;
  text-align: inherit;
  height: 39px;
  margin-left: 15px;
}

@media screen and (max-width: 570px) {
  .filter-buttons {
    margin-left: 10px;
  }
}

.ratting-button {
  transition: all 0.2s ease 0s;
  padding: 0 10px;
  border: 1px solid #424754;
  background: 0 0;
  color: #8e95a5;
  line-height: 32px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  text-align: start;
  min-width: 76px;
}

.ratting-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.popularity-button {
  transition: all 0.2s ease 0s;
  padding: 0 10px;
  border: 1px solid #424754;
  background: 0 0;
  color: #8e95a5;
  line-height: 32px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  text-align: start;
  min-width: 98px;
}

@media screen and (max-width: 425px) {
  .popularity-button {
    display: none;
  }
}

.popularity-button:-moz-focus-inner {
  border: 0;
  padding: 0;
}
